<h1>New Blog</h1>

<%= render 'form', blog: @blog %>
<!--  blog: @blog creates a local variable for the form partial, called blog, set to instance variable @blog -->

<%= link_to 'Back', blogs_path %>
