<h1>Portolio items</h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>

<!-- <p>
  <%= new_portfolio_path %>
  <%= new_portfolio_url %>
</p> -->

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
