<h1>Pages#contact</h1>

<div class="row">
  <div class="col-md-6">
    <p><%= number_to_phone "3163715753" %></p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97762.136408393!2d-105.31001695310025!3d40.02928881696447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b8d4e278dafd3%3A0xc8393b7ca01b8058!2sBoulder%2C+CO!5e0!3m2!1sen!2sus!4v1498429037245" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
