<h1>Hi, <%= current_user.first_name %> </h1>
<!--  Devise provides "current_user"-->
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Blogs</h2>
<%= @posts.inspect %>
<h2>skills</h2>
<%= @skills.inspect %>
